<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/car/save}" th:object="${newCar}" method="post">
    <p>Id: <input type="text" th:field="*{id}"></p>
    <p>Mark: <input type="text" th:field="*{mark}"></p>
    <p>Model: <input type="text" th:field="*{model}"></p>
    <p>Color: <input type="text" th:field="*{color}"></p>
    <p>Date of production: <input type="text" th:field="*{dateOfProduction}"></p>
    <p><input type="submit" value="add new car"></p>
</form>
</body>
</html>