<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>CAR DEALERSHIP</h1>
<h2>ALL CARS</h2>
<tr th:each="car, iStat:${cars}">
    <td th:text="${iStat.index+1}"></td>
    <td th:text="${car.getMark()}"/>
    <td th:text="${car.getModel()}"/>
    <td><a th:href="@{'/delete-car/' + ${iStat.index}}">Delete</a></td>
    <td><a th:href="@{'/edit-car/' + ${iStat.index}}">Edit</a></td>

    <p>------------------------------</p>
</tr>
<a href="/">BACK</a>




</body>
</html>